body{
        background-color: #eee;
        width: inherit;
        height: inherit;
        padding: inherit;
	}
    
header, footer{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    width: inherit;
    height: inherit;
	}



/* nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em; 
    height: 400px;
	}

nav ul {
    list-style-type: none;
    padding: 0;
}
   

article {
    margin-left: 400px;
   border-left: 1px solid gray;
    padding: 1em; 
    overflow: hidden;
    height: 400px;
}
*/